{% extends 'diary/base.html' %}
{% block content %}
{% load image_filter %}
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for entry in page_obj %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ entry.image | mymedia }}" height="150">
                    <div class="card-body">
                        <p class="card-text">{{ entry }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">
                                {{ entry.updated_at | date:'d-m-Y H:i'}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br/>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for p in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link text-dark" href="?page= {{ p }}">
                {{ p }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
