{% extends 'diary/base.html' %}
{% block content %}
{% load image_filter %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="d-grid gap-2 col-3 mx-auto">
            <form class="col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <form class="d-flex" role="search" method="get" action="{% url 'diary:entries' %}">
                    <input name="search" type="search" class="form-control form-control-white" placeholder="Поиск..."
                           aria-label="Search">
                </form>
            </form>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'diary:create_entry' %}" type="button"
               class="btn btn-sm btn-outline-dark"> + Добавить запись </a>
        </div>
        <br><br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for entry in page_obj %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if not entry.image %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Фото отсутствует</text>
                    </svg>
                    {% else %}
                    <img src="{{ entry.image | mymedia }}" height="150">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ entry | truncatechars:40 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'diary:entry' entry.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Открыть</a>
                            <small class="text-muted">
                                {{ entry.updated_at | date:'d-m-Y H:i'}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br/>
<div class="d-grid gap-2 col-11 mx-auto">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for p in page_obj.paginator.page_range %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page= {{ p }}">
                    {{ p }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
