{% extends 'diary/base.html' %}
{% block content %}
{% load image_filter %}
<div class="album py-5 bg-light">
    <div class="container">
        <input type="button" class="btn btn-sm btn-outline-dark" onclick="history.back();" value="Назад"/>
        <a href="{% url 'diary:entries' %}" type="button"
           class="btn btn-sm btn-outline-dark">Выйти</a><br><br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="d-grid gap-2 col-10 mx-auto">
                <div class="card shadow-sm">
                    {% if entry.image %}
                    <img src="{{ entry.image | mymedia }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text"><b>{{ entry }}</b></p>
                        <p class="card-text">{{ entry.body }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'diary:update_entry' entry.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                <a href="{% url 'diary:delete_entry' entry.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Удалить</a>
                            </div>
                            <small class="text-muted">
                                {{ entry.updated_at | date:'d-m-Y H:i'}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
